* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .cabecalho{
    display: flex;
    justify-content: space-around;

  }

  .produto{
    display: flex;
    align-items: center;
    margin: 4%;
  }

  .produto2{
    display: flex;
    flex-direction: column;
    margin: 4%;
  }

  .produto3{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 15%
  }

  .produto4{
    display: flex;
    justify-content: flex-end;
    margin-inline: 10%;
  }
  .img{
    display: flex;
    margin: 5%;
  }